*{padding:0;margin:0;}

header,footer,main,aside,mobile{
    box-sizing: border-box;
    padding: 10px;
}
.grid_main {grid-area: main;}
    main{padding: 0 29px 0;}
.grid_aside {grid-area: aside;}
.grid_footer {grid-area: footer;}
mobile{width: 100%; position:fixed;bottom: 0}
.grid_container {/*600px以下の場合*/
    display: grid;/* グリッドコンテナであることを定義 */
    grid-template-areas: 
     'header'/* 1行目 */
     'main'/* 3行目 */
     'aside'/* 4行目 */
     'footer'/* 5行目 */;
    grid-template-rows: 60px 1fr auto 60px;/* 行の高さ */
    grid-template-columns: 1fr;/* 列の幅 */
    grid-row-gap: 0; /*行と行の間の余白 */
    height: 100vh;
    
}

/*紹介部分*/
.product ul{list-style: none;}
.product ul li figure{border:1px solid #999;width:600px;}
.product ul li figure div{width:600px;height:337px;overflow:hidden;}
.product ul li figcaption{margin: 0;text-align:center;}
.product ul li figure div iframe{transform:scale(0.55);-o-transform:scale(0.55);-webkit-transform:scale(0.55);-moz-transform:scale(0.55);
    -ms-transform:scale(0.55);transform-origin:0 0;-o-transform-origin:0 0;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;}
/*紹介部分*/
/*目次*/
#toc {box-sizing: border-box; border: solid 1px #ccc;text-align:center;padding: 10px;margin: 10px;}
#toc>label{font-size: 20px;}
#toc ul{list-style: none;text-align:left;}
#toc ol{list-style: none;text-align:left;text-indent: 1em;}

/*目次*/
@media screen and (max-width: 600px) {
    .font{font-size: 9px;
    text-align: center;
    opacity: .8;}
    /* スマホ用のCSS */
/*        aside{bottom: 0;position: fixed;right: 0;}*/
      /*アイコンのスペース*/
      #drawer-open {text-align: center;
          display: inline-block;
          width: 50px;
          height: 22px;
          vertical-align: middle;} 

      /*閉じる用の薄黒カバー*/
        #aside-close {
            display: none;/*はじめは隠しておく*/
            position: fixed;
            z-index: 99;
            top: 0;/*全体に広がるように*/
            right: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0;
            transition: .3s ease-in-out;}
        /*中身*/
        #aside-content {
            overflow: auto;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 9999;/*最前面に*/
            width: 270px;/*最大幅*/
            height: 100%;
            background: #fff;/*背景色*/
            transition: .3s ease-in-out;/*滑らかに表示*/
            -webkit-transform: translateX(-105%);
            transform: translateX(205%);/*左に隠しておく*/}
        /*チェックが入ったらもろもろ表示*/
        #aside-input:checked ~ #aside-close {
            display: block;/*カバーを表示*/
            opacity: .5;}
        #aside-input:checked ~ #aside-content {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);/*中身を表示*/
            box-shadow: 6px 0 25px rgba(0,0,0,.15);}

        #nav-close {
            display: none;/*はじめは隠しておく*/
            position: fixed;
            z-index: 99;
            top: 0;/*全体に広がるように*/
            right: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0;
            transition: .3s ease-in-out;}
        /*中身*/
        #nav-content {
            overflow: auto;
            position: fixed;
            top: 0;
            left: 0;/*左側に詰めて表示*/
            z-index: 9999;/*最前面に*/
            width: 170px;/*最大幅*/
            height: 100%;
            background: #fff;/*背景色*/
            transition: .3s ease-in-out;/*滑らかに表示*/
            -webkit-transform: translateX(105%);
            transform: translateX(-105%);/*左に隠しておく*/}
        /*チェックが入ったらもろもろ表示*/
        #nav-input:checked ~ #nav-close {
            display: block;/*カバーを表示*/
            opacity: .5;}
        #nav-input:checked ~ #nav-content {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);/*中身を表示*/
            box-shadow: 6px 0 25px rgba(0,0,0,.15);}
        #nav-content>.buttons-coll{
            display: flex;
            flex-direction: column;
        }

        header>.header_nav{display: none;}
        aside{display: none;}
        mobile input{display: none;}
        mobile{
        display: flex;
        justify-content: space-between;}
/*スマホの幅に合わせた紹介部分*/
        .product ul li figure{border:1px solid #999;width:300px;}
        .product ul li figure div{width:300px;height:200px;overflow:hidden;}
        .product ul li figcaption{margin: 0;text-align:center;}
        .product ul li figure div iframe{transform:scale(0.28);-o-transform:scale(0.28);-webkit-transform:scale(0.28);-moz-transform:scale(0.28);-ms-transform:scale(0.28);transform-origin:0 0;-o-transform-origin:0 0;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;}
/*マホの幅に合わせた紹介部分*/
}


.grid_header {
    grid-area: header;
    display: flex;
    justify-content: space-between;}

.header_nav{width:430px}
.header_nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;}

.buttons-coll {text-align: center;}
.nav-btn {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: solid 0px;}
.btn-1:active {
    border-bottom: solid 0px;
    top: 2px;}

/*色替え*/
    /*白文字青背景*/
#style-wb>a{ color:#FFF;}
    #style-wb {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #44f;/*背景色*/
        border-bottom: solid 2px #00d;/*少し濃い目の色に*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        font-weight: bold;}
    #style-wb:active {
        border-bottom: solid 2px #44f;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);}
        .style-wb{background-color:#44f;color:#fff;
            transition: .5s;}
        .style-wb>.grid_container>*{
                box-sizing: border-box;
            border-radius: 6px;border: solid 1px #00d;
            background-color:#44f;color:#fff;
            transition: .5s;}
        /*navボタン*/
        .style-wb>.grid_container>.grid_header>.header_nav>.buttons-coll>*:hover{
            border-bottom: solid 0px;
            background: #D6D6FF;
            color: #44f;
            transition: .5s;}
        /*navボタン*/
    /*白文字青背景*/
    /*黄文字黒背景*/
#style-yb>a{ color:#FFF;}
    #style-yb {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color:#ff0;
        background: #333;/*背景色*/
        border-bottom: solid 2px #000;/*少し濃い目の色に*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        font-weight: bold;}
    #style-yb:active {
        border-bottom: solid 2px #333;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);}
        .style-yb{background-color:#333;color:#ff0;
            transition: .5s;}
        .style-yb>.grid_container>*{
            box-sizing: border-box;
            border-radius: 6px;border: solid 1px #000;
            background-color:#333;color:#ff0;
            transition: .5s;}
        /*navボタン*/
        .style-yb>.grid_container>.grid_header>.header_nav>.buttons-coll>*:hover{
            border-bottom: solid 0px;
            background: #ff0;
            color: #333;
            transition: .5s;}
        /*navボタン*/
    /*黄文字黒背景*/
    /*黒文字白背景*/
#style-bw>a{ color:#FFF;}
    #style-bw {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color:#000;
        background: #fff;/*背景色*/
        border-bottom: solid 2px #ccc;/*少し濃い目の色に*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        font-weight: bold;}
    #style-bw:active {
        border-bottom: solid 2px #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);}
        .style-bw{background-color:#fff;color:#000;
            transition: .5s;}
        .style-bw>.grid_container>*{
            box-sizing: border-box;
            border-radius: 6px;border: solid 1px #ccc;
            background-color:#fff;color:#000;
            transition: .5s;}
        /*navボタン*/
        .style-bw>.grid_container>.grid_header>.header_nav>.buttons-coll>*:hover{
            border-bottom: solid 0px;
            background:#000;
            color: #fff;
            transition: .5s;}
        /*navボタン*/
    /*黒文字白背景*/
/*色替え*/



 
/* デバイス幅が600px以上の時 */
@media screen and (min-width: 600px) {
    .grid_container { max-width: 1100px;margin: auto;
        grid-template-areas: 
            'header header'
            'main aside'
            'footer footer';
        grid-template-rows: 60px  1fr 100px;/* 行の高さ */
        grid-template-columns: 1fr 30%;/* 列の幅 */
        grid-gap: 5px 10px;
        height: 100vh;/* フッタの位置を最下部に */
    }
    mobile{display: none;}

}



  
